@import '../../../styles.scss';

.aboutMe {
  width: 100%;
  height: 100%;

  &__wrapper {
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__description {
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
      gap: 2rem;
      align-items: stretch; // Для растягивания по высоте

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;
        flex: 1;

        &__name {
          text-align: start;

          &__text {
            font-size: 6rem;
            color: #fff;
            display: flex;
            align-items: flex-end;

            span {
              color: $active_color;
            }
          }
          &__divider {
            background-color: $active_color;
            height: 4%;
            width: 60%;
          }
        }

        &__socials {
          color: #fff;
          font-size: 2rem;

          &__row {
            gap: 1rem;
            display: flex;

            &__text {
              color: #fff;
              cursor: pointer;
            }

            &__text:hover {
              color: $active_color;
            }

            &__divider {
              color: #fff;
            }
          }
        }

        &__contactMe {
          border: 3px solid $active_color;
          padding: 4px 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;

          &__text {
            text-transform: uppercase;
            color: #fff;
            font-size: 2rem;
          }
        }
      }

      &__image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 100%;
          max-width: 100%;
          object-fit: contain; // Изменено на 'contain', чтобы изображение вписывалось в блок
        }
      }

      &__introduction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        &__mainText {
          color: $active_color;
          font-size: 2rem;
          text-align: start;
        }

        &__mainTechnologies {
          font-size: 1.8rem;
          color: #fff;
          text-align: start;

          &__text {
            margin-bottom: 1rem;
          }
        }

        &__sayHi {
          font-size: 2rem;
          color: #fff;
          text-align: start;
        }
      }
    }

    &__technologies {
      &__mainText {
        color: $active_color;
        text-align: start;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        &__item {
          height: 9rem;
          flex: 1 1 calc(20% - 1rem);
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          padding: 1rem;

          &__image {
            img {
              object-fit: cover;
              height: 60px;
            }
          }

          &__text {
            font-size: 2rem;
            color: #fff;
          }
        }
      }
    }
  }
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  box-sizing: border-box;
  font-weight: 900;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;

  border: 3px solid $active_color;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;


  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  color: #fff;
  cursor: pointer;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);

  //background: linear-gradient(#12B7B2, #1DFFF8);
  background: #12B7B2;
}

.btn-53 .original {
  font-size: 2rem;
  background: url(/assets/image/bg_black.jpg);
  color: #fff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  background-size: contain;
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  font-size: 2rem;
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  text-transform: uppercase;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-53:hover span:nth-child(9) {
  transition-delay: 0.7s;
}

.btn-53:hover span:nth-child(10) {
  transition-delay: 0.8s;
}

@media (max-width: 1080px) {
  .aboutMe {
    overflow: hidden !important;

    &__wrapper {
      padding: 0 16px !important;

      &__description {
        padding-top: 60px !important;
        gap: 0.5rem !important;
        flex-wrap: wrap !important;

        &__info {
          width: 50% !important;
          gap: 2rem !important;

          &__name {
            text-align: start;

            &__text {
              font-size: 2.5rem !important;
            }

            &__divider {
              height: 5% !important;
            }
          }

          &__socials {
            font-size: 1rem !important;

            &__row {
              gap: 0.5rem !important;
            }
          }

          &__contactMe {
            border: 1px solid $active_color !important;
            padding: 2px 8px !important;

            &__text {
              font-size: 0.5rem !important;
            }
          }
        }

        &__image {
          width: 50% !important;
        }

        &__introduction {
          width: 100% !important;
          flex: unset !important;

          &__mainText {
            font-size: 1.5rem !important;
          }

          &__mainTechnologies {
            font-size: 1rem !important;

            &__text {
              margin-bottom: 0.5rem !important;
            }
          }

          &__sayHi {
            font-size: 1rem !important;
          }
        }
      }

      &__technologies {
        &__mainText {
          font-size: 1rem !important;
          margin-bottom: 0.5rem !important;
        }

        &__block {
          gap: 0.5rem !important;

          &__item {
            width: 100% !important;
            height: 100% !important;
            flex: 1 1 calc(20% - 0.5rem) !important;
            padding: 0 !important;
            border-width: 2px !important;

            &__image {
              img {
                height: 2rem !important;
              }
            }

            &__text {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }

  .btn-53 .original {
    font-size: 1rem !important;
  }

  .btn-53 .letters {
    font-size: 1rem !important;
  }

  .btn-53 {
    border: 2px solid $active_color !important;
    padding: 2px 16px !important;
  }
}
