@import '../../../styles.scss';

.active {
  color: $active_color;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  background: url(/assets/image/bg_black.jpg);
  background-size: cover;
  height: 80px;

  &__wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    /*&__burgerMenu {
      display: none;
      width: 60%;
      text-align: right;

      &__list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        backdrop-filter: blur(5px);
        transition: transform 200ms;
        width: 60vw;

        &__item {
          width: 100%;
          font-size: 3rem;
          color: #fff;
          padding: 10%;
          box-sizing: border-box;
          text-align: center;
        }

        &__item:hover {
          color: $active_color !important;
        }

        &__item:not(:last-child) {
          border-bottom: 1px solid #fff;
        }
      }
    }*/

    &__logo {
      cursor: pointer;
    }

    &__menu {
      display: flex;
      gap: 26px;
      align-items: center;

      &__item {
        font-size: 24px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        color: #fff;

        &.active::after {
          position: absolute;
          height: 4px;
          width: 100%;
          background-color: $active_color;
          content: "";
          bottom: -10px;
          left: 0;
        }
      }

      &__item:hover {
        color: $active_color;
      }
    }
  }
}

@media (max-width: 1080px) {
  .header {
    height: 40px !important;

    &__wrapper {
      padding: 4px 16px !important;

     /* &__burgerMenu {
        display: block !important;
      }*/

      &__menu {
        width: 80% !important;
        gap: 5% !important;
        justify-content: flex-end !important;

        &__item {
          font-size: 20px !important;

          &.active::after {
            height: 2px !important;
            bottom: -5px !important;
          }
        }
      }

      &__logo {
        width: 20% !important;
      }
    }
  }
}
