<div class="contactMe">
  <div class="contactMe__wrapper">
    <div class="contactMe__wrapper__mainText karantina-bold">
      Contact me
    </div>
    <div class="contactMe__wrapper__icon">
      <img src="assets/image/contact_icon.png" alt="projectIcon">
    </div>
    <div class="contactMe__wrapper__body">
      <div class="contactMe__wrapper__body__form">
        <form [formGroup]="oContactForm" (ngSubmit)="onSubmit()">
          <div class="contactMe__wrapper__body__form__fields">
            <div class="contactMe__wrapper__body__form__fields__item">
              <label for="name" class="karantina-light">Name <span style="color: #E03838">*</span></label>
              <input class="karantina-regular"
                     id="name"
                     formControlName="name"
                     [ngClass]="{ 'is-invalid': bSubmitted && f.name.errors }"/>
            </div>
            <div class="contactMe__wrapper__body__form__fields__item">
              <label for="message" class="karantina-light">Message <span style="color: #E03838">*</span></label>
              <div class="karantina-light">(Please include contact information.)</div>
              <textarea id="message"
                        formControlName="message"
                        rows="5"
                        class="karantina-regular"
                        [ngClass]="{ 'is-invalid': bSubmitted && f.message.errors }"></textarea>
            </div>
          </div>

          <div class="contactMe__wrapper__body__form__bottomBlock">
            <div class="contactMe__wrapper__body__form__bottomBlock__errorMessage karantina-light">
              <span *ngIf="bSubmitted && (f.message.errors || f.name.errors)">
                * - Required fields
              </span>
            </div>

            <button class="btn-53" type="submit">
              <div class="original karantina-bold">Send Message</div>
              <div class="letters karantina-bold">

                <span>S</span>
                <span>e</span>
                <span>n</span>
                <span>d</span>
                <span>&nbsp;</span>
                <span>M</span>
                <span>e</span>
                <span>s</span>
                <span>s</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
              </div>
            </button>
          </div>

        </form>
      </div>
      <div class="contactMe__wrapper__body__info">
        <div class="contactMe__wrapper__body__info__email karantina-light">
          <a href="mailto:egorkaishchenko@gmail.com">
            egorkaishchenko@gmail.com
          </a>
        </div>
        <div class="contactMe__wrapper__body__info__phone karantina-light">
          <a href="tel:+380976170090">
            +38 (097) 617-00-90
          </a>
        </div>
        <div class="contactMe__wrapper__body__info__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1905.784436992611!2d35.050117052193656!3d48.46679232416455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2e829d714fb%3A0xb4ad494f865426c4!2z0LLRg9C7LtCa0L7RgNC-0LvQtdCy0Lgg0ITQu9C40LfQsNCy0LXRgtC4INCG0IYsIDIsINCU0L3RltC_0YDQviwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1suk!2sua!4v1721303445836!5m2!1suk!2sua"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="contactMe__wrapper__footer">
      <div class="contactMe__wrapper__footer__socials">
        <div class="contactMe__wrapper__footer__socials__item"
             appHoverImageChange="assets/image/gitHub_Icon_hover.svg"
             (click)="onOpenUrl('https://github.com/Yegi1824')">
          <img src="assets/image/gitHub_Icon_white.svg" alt="github">
        </div>
        <div class="contactMe__wrapper__footer__socials__item"
             appHoverImageChange="assets/image/linkedIn_Icon_hover.svg"
             (click)="onOpenUrl('https://www.linkedin.com/in/yehor-ishchenko-080b83204/')">
          <img src="assets/image/linkedIn_Icon.svg" alt="linkedin">
        </div>
        <div class="contactMe__wrapper__footer__socials__item"
             appHoverImageChange="assets/image/facebook_Icon_hover.svg"
             (click)="onOpenUrl('https://www.facebook.com/profile.php?id=100010805199760&locale=uk_UA')">
          <img src="assets/image/facebook_Icon.svg" alt="facebook">
        </div>
        <div class="contactMe__wrapper__footer__socials__item"
             appHoverImageChange="assets/image/telegram_Icon_hover.svg"
             (click)="onOpenUrl('https://t.me/yegizavr')">
          <img src="assets/image/telegram_Icon.svg" alt="telegram">
        </div>

      </div>
      <div class="contactMe__wrapper__footer__rights karantina-regular">
        © Ishchenko Yehor
      </div>
      <div class="contactMe__wrapper__footer__logo" (click)="onChangeSlide('aboutMe')">
        <img src="assets/image/logo_white.png" alt="logo">
      </div>
    </div>
  </div>
</div>
